.suggest {
    width: 100%;
    height: 100vh;
    background-color: white;
    color: var(--white);
    font-weight: bold;
    .splide {
        height: 100%;

        .splide__arrows {
            .splide__arrow {
                transform: scale(2.5);
                background-color: transparent;

                svg {
                    fill: var(--white);
                }
            }

            .splide__arrow--prev {
                top: 40%;
            }

            .splide__arrow--next {
                top: 40%;
            }
        }

        .splide__slide {

            .info {

                top: 35%;
                left: 8%;
                z-index: 200;
            }

            .suggest-img {
                height: max-content;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    box-shadow: 25px 25px 50px 65px #111319 inset, -25px -25px 50px 50px #111319 inset;
                    position: absolute;
                    z-index: 3;
                }


                .background-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

// @media screen and (max-width: 1024px) {
//     .suggest {
//         .splide {
//             .splide__slide {
//                 .content {
//                     .content__product {
//                         display: none;
//                     }

//                     .content__decs {
//                         display: none;
//                     }

//                     .play-icon {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .suggest {

        .splide {
            .splide__slide {
                .suggest-img {
                    height: 500px;

                    &::before {
                        box-shadow: none;
                    }
                }


            }
        }
    }
}

@media screen and (max-width: 768px) {
    .suggest {

        .splide {
            .splide__slide {
                height: 36vh;

                .suggest-img {

                    &::before {
                        box-shadow: none;
                    }
                }


            }
        }
    }
}