.details-container {
    width: 100%;
    padding-top: 150px;
    background-color: var(--dark);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
    position: relative;
    overflow: hidden;


    .top {
        width: 90%;
        margin: 0 auto;
        display: flex;


        .content {
            position: relative;
            top: unset;
            left: unset;
            margin-left: 20px;

        }
        .bg-wapper {

            img {
                width: 200px;
                object-fit: cover;

                @media screen and (max-width : 769px) {
                    width: 100px;
                }
            }

        }
    }

    .watch {
        padding: 50px 0;
        z-index: 99;
        position: relative;

        .actor-title {
            margin-left: 5%;
            font-size: 3.6rem;
            margin-bottom: 20px;
        }

        .actor {
            display: flex;
            gap: 8px;
            margin-left: 5%;
            margin-bottom: 50px;
            overflow: auto;

            .actor-wapper {
                //width: 100%;
                background-color: var(--opa);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                //border-radius: 4px;

                .img-actor {
                    width: 200px;
                    object-fit: cover;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    @media screen and (max-width : 769px) {
                        width: 80px;
                    }
                }

                .name-actor {
                    margin-top: 6px;
                    text-align: center;

                    @media screen and (max-width : 769px) {
                        margin-top: 0;
                        font-size: 1.2rem;
                        font-weight: normal;
                    }
                }
            }
        }

        .player {
            margin: 0 auto;
        }
    }
}