.nav {
    width: 100%;
    position: fixed;
    z-index: 999;

    .nav__container {
        transition: 0.5s ease-in;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        .nav__left {
            display: flex;
            column-gap: 48px;
            align-items: center;
            margin-left: 6.4rem;

            .nav__menu {
                display: none;
            }

            .nav__logo {
                cursor: pointer;
                height: 3rem;
            }

            .nav__list {
                .nav__page {
                    display: flex;
                    margin: auto 0;
                    list-style: none;

                    li {
                        margin-right: 48px;
                        font-size: 1.6rem;
                        font-weight: bold;
                        cursor: pointer;

                        .tab {
                            color: var(--white);

                            &:hover {
                                color: var(--green);
                            }

                            text-decoration: none;

                            :visited,
                            :active {
                                color: var(--white);
                            }
                        }
                    }
                }
            }
        }

        .nav__close {
            display: none;
        }

        .nav__actions {
            margin-right: 64px;

            .nav__search {
                display: flex;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 4px;
                position: relative;

                .input {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    width: 270px;
                    height: 36px;
                    padding: 0px 53px 0 12px;
                    color: var(--white);
                }

                .search-close {
                    color: rgba(255, 255, 255, 0.7);
                    position: absolute;
                    right: 50px;
                    display: none;
                }

                .search-close-active {
                    display: block;
                }

                .line {
                    position: absolute;
                    width: 1px;
                    height: 16px;
                    background-color: var(--white);
                    right: 42px;
                }

                .nav__search-icon {
                    position: absolute;
                    right: 10px;
                    font-size: 2.4rem;
                    color: var(--white);
                    &:hover {
                        color: var(--green);
                    }
                }

                cursor: pointer;
            }
        }
    }

    .nav__container--onScroll {
        display: flex;
        background-color: var(--black);
    }
}

.nav-active {
    .search {
        background-color: var(--black);
    }

    .nav__container {
        background-color: var(--black);
    }
}

@media screen and (max-width: 1023px) {
    .nav {
        .nav__container {
            .nav__left {
                margin-left: 3.6rem;

                .nav__menu {
                    color: var(--white);
                    font-size: 3.6rem;
                    display: block;
                    cursor: pointer;
                }

                .nav__logo {
                    height: 2rem;
                }
            }

            .nav__actions {
                margin-right: 3.6rem;
                .nav__actions__search {
                    .nav__actions__search__icon {
                        color: var(--white);
                    }
                }
            }

            .nav__list {
                transition: ease-in-out 0.5s;
                padding-top: 60px;
                padding-bottom: 60px;
                position: fixed;
                top: 0;
                left: -100%;
                width: 270px;
                height: 100%;
                backdrop-filter: blur(20px);
                box-shadow: 10px 5px 20px var(--black);
                z-index: 20;

                .nav__page {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                    text-align: center;

                    li {
                        font-weight: unset;

                        &:hover {
                            color: rgb(31, 94, 55);
                        }
                    }
                }

                .nav__close {
                    position: absolute;
                    top: 18px;
                    right: 20px;
                    font-size: 2.4rem;
                    color: var(--white);
                }
            }

            .nav__list-active {

                .nav__close {
                    color: var(--white);
                    display: block;
                    cursor: pointer;
                }

                left: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav {
        .nav__container {
            height: 60px;
        }
    }
}

@media screen and (max-width: 480px) {
    .nav {
        .nav__container {
            .nav__left {
                margin-left: 10px;
                gap: 10px;
            }
            .nav__actions {
                margin-right: 10px;
                .nav__search {
                    .input {
                        width: 200px;
                    }
                }
            }
        }
    }
}