.tab-container {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    background-color: var(--red);
    color: var(--white);
    .list {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }
}