.slider-container {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-bottom: 50px;
    .type-list {
        display: flex;
        color: var(--white);
        font-size: 32px;
        font-weight: bold;
        margin: 30px 0 20px 80px;
    }
    .list-item{
        margin: 0 80px;
        .wapper-item {
            .wapper-img {
                height: 80%;
                .item-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .item-status {
                    position: absolute;
                    bottom: 23%;
                    left: 5%;
                    color: var(--white);
                }
            }
            .item-title {
                color: var(--white);
                font-size: 18px;
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 1025px){
    .slider-container {
        .type-list {
            margin: 30px 0 20px 20px;
        }
        .list-item {
            margin: 0 20px;
        }
    }
}
